<div class="home-page">

  <h2>Select a character</h2>

  <div class="row card-row">
    <div class="three columns cards offset-by-one">
      <img src="./images/meatboy.png" alt="">
      <input class="six columns offset-by-three" type="submit" value="Start!">
    </div>
    <div class="three columns cards offset-by-one">
      <img src="./images/meatboy.png" alt="">
      <input class="six columns offset-by-three" type="submit" value="Start!">
    </div>
    <div class="three columns cards offset-by-one">
      <img src="./images/meatboy.png" alt="">
      <input class="six columns offset-by-three" type="submit" value="Start!">
    </div>
  </div>

  <div class="row">
    <div class="three columns cards offset-by-one">
      <img src="./images/meatboy.png" alt="">
      <input class="six columns offset-by-three" type="submit" value="Start!">
    </div>
    <div class="three columns cards offset-by-one">
      <img src="./images/meatboy.png" alt="">
      <input class="six columns offset-by-three" type="submit" value="Start!">
    </div>
    <div class="three columns cards offset-by-one">
      <img src="./images/meatboy.png" alt="">
      <input class="six columns offset-by-three" type="submit" value="Start!">
    </div>
  </div>

</div>
