<form>
  <div class="row">
    <div class="six columns">
      <label for="characterSelect">Select a character</label>
      <select class="u-full-width" id="characterSelect">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  </div>
  <input type="submit" value="Start!">
</form>
